---
sync:
  ingresses:
    enabled: true
  hoststorageclasses:
    enabled: true

syncer:
  extraArgs:
    # See: https://www.vcluster.com/docs/config-reference#syncer-flags
    - --tls-san=vc-${VC_CLUSTER_NAME}.${VC_DOMAIN}
    - --out-kube-config-server=https://vc-${VC_CLUSTER_NAME}.${VC_DOMAIN}

vcluster:
  image: rancher/k3s:v1.28.2-k3s1

ingress:
  enabled: true
  pathType: ImplementationSpecific
  apiVersion: networking.k8s.io/v1
  host: vc-${VC_CLUSTER_NAME}.${VC_DOMAIN}
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/backend-protocol: HTTPS
    nginx.ingress.kubernetes.io/ssl-passthrough: "true"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
